<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Báo Lỗi</title>
</head>

<body>

    <div style="background-color:green;text-align: center">
        <h1>Có Lỗi, có thể là một trong các lỗi:</h1>
        <h1> * lỗi trong câu lệnh thêm (thêm trùng khóa chính)</h1>
        <h1> * lỗi chưa nhập đủ trường thông tin</h1>
        <form action="/baoloituongtac" method="post" style="width: 100%;">
            <button type="submit" style="padding:20px 50px;background-color:black;color: white;">Trang chủ</button>
        </form>
    </div>
    <div style="background-color: black;text-align: center;margin: 50px auto;">
        <a href="/dangxuat" style="color: white;">Đăng Xuất</a>
    </div>
</body>

</html>